@import '../../styles/mixins.scss';

.dropzone {
    border: 2px dashed #b0b0b0;
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    position: relative;
    overflow: hidden;
    min-height: 100px;
    width: 100%;
    background: #fff;

    .dropzone_placeholder {
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
    }

    .fa-camera-retro {
        color: #337ab7;
        width: 50px;
        height: 50px;
    }

    .dropzone_previews {
        @include flexbox();
        @include flex-direction(row);
        @include justify-content(center);
        @include align-items(center);
        @include flex-wrap(wrap);
        width: 100%;

        .dropzone_preview-item {
            width: 150px;
            height: 75px;

            img {
                max-width: 100%;
                max-height: calc(100% - 20px);
            }

            .dropzone_remove-item {
                cursor: pointer;
                color: red;
            }
        }
    }
}
